<div id="mainDiv">
    <div id="content">
        <div id="code">
            <span class="comments">/**</span><br />
            <span class="space"/><span class="comments">*2019-05-21.</span><br />
            <span class="space"/><span class="comments">*/</span><br />
            My Dear = <span class="keyword">Mrs</span> <span id="mrs"></span><br />
            <span class="comments">// I slowed down before I realized it.</span><br />
            放慢速度才恍然顿悟;<br />
            <span class="comments">// The brightest performance is your presence.</span><br />
            最亮演出是你投入;<br />
            <span class="comments">// I care about everything you do.</span><br />
            你一举一动我都在乎;<br />
            <span class="comments">// No matter where love appears, I will never look back.</span><br />
            无论爱出现何处我义无反顾;<br />
            <span class="comments">// Use time for your meager happiness.</span><br />
            用时间换你微薄的幸福;<br />
            <span class="comments">// Until they are sincere and heartfelt.</span><br />
            直到真心刻骨;<br />
            <span class="placeholder"/><span class="keyword">万般</span> 皆 <span class="keyword">是命</span>;<br />
            <span class="placeholder"/><span class="keyword">半点</span> 不 <span class="keyword">由人</span>;<br />
            <span class="placeholder"/><span class="keyword">两心</span> 若 <span class="keyword">相惜</span>;<br />
            <span class="placeholder"/><span class="keyword">一切</span> 皆 <span class="keyword">可成</span>;<br />
            <br>
            <br>
            I want to say:<br />
            Baby, I love you forever;<br />
        </div>
    </div>
</div>